body
{
    background-color: #f5f3dc;
    padding-bottom: 20px;
}

#headerImage
{
    height: 10vh;
    border-radius: 20px;
}

header
{
    margin-top: -10px;
    background: #B5E3F2;
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
}

#headerLinks
{
    float: right;
    width: 60%;
}

#headerLinks > a
{
    color: white;
    font-size: 5vh;
    margin-right: 5%;
    flex: auto;
    float: right;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

@media only screen and (max-width: 600px) {
    #headerImage
    {
        height: 8vh;
    }

    #headerLinks > a 
    {
        font-size: 4vh;
    }
}

#profileImage
{
    height: 5vh;
    margin-top: 10px;
}

nav
{
    background: #090b5e;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1vh;
    height: 5vh;
}

nav > a
{
    font-size: 3vh;
    margin-left: 20px;
    color: #ffffff;
}

nav > a:hover, #headerLinks > a:hover
{
    color: rgb(104, 76, 130);
}

#returnTop
{
    position: fixed;
    background-color: #f5f3dc;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

#dictionaryInfo
{
    padding: 10px 55px;
    text-align: center;
}

#dictionaryDisplay
{
    margin: 10px 50px;
    background-color: #496b89;
    border-radius: 20px;
    padding: 20px 20px;
}

#dictionarySearch
{
    margin: 10px;
    font-size: medium;
}

#dictionaryFilters
{
    margin: 10px;
    font-size: medium;
}

.word
{
    padding: 20px;
    text-align: center;
    font-size: large;
    border: #000;
    background-color: #b8def7;
    margin: 5px;
    font-weight: bold;
}

.word:hover
{
    cursor:pointer;
}

#overlay 
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(45, 45, 34, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlayText
{
    width: 50vw;
    height: 75vh;
    margin-top: 13vh;
    margin-left: 25vw;
    background-color: #f5f3dc;
    text-align: center;
    overflow: scroll;
}

#overlayExit
{
    float: right;
    font-size: xx-large;
    font-weight: bolder;
    color: red;
}